@page
@model OurFirstApp.Pages.Employees.IndexModel
@{

}

<h1>Employees</h1>
<h2>This will be the home of a future list of current employees.</h2>
<h3>I love .Net Core web pages.</h3>
<br/>
<hr />
<br/>
<h3>Week 6 Lab Description</h3>
<p>
    On the Employees home page, provide feedback on using GitHub for assignments. Is it working? Is it easier than using Blackboard? Are you getting better feedback?
</p>
<hr />
<br />
<p>
    This is basically my first time using GitHub. I found the GitHub section of this week's instructional video very confusing. I could have used a short step-by-step video or downloadable handout for working with GitHub for first-timers. Instead, I looked at some YouTube videos. After doing that, I was able to set up a GitHub account, download GitHub Desktop, and set up a repository. Right now, using Blackboard is easier for me. Hopefully GitHub will become much easier throughout this semester.
    <br/>
    <br/>
    It's a bit difficult to comment on feedback because I've not yet gotten feedback on the labs for Week 4 or 5, and I've not yet gotten feedback through GitHub. Where would the feedback in GitHub be located?
</p>